body {
  transition: background-color 0.5s ease !important;
  transition-duration: 500ms !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: black;
}

[data-theme="dark"] .swiper-button-prev,
[data-theme="dark"] .swiper-button-next {
  color: white;
}
.carousel-wrapper {
  position: relative;
  width: 100%;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-prev {
  left: 8px;
}

.custom-next {
  right: 8px;
}

@media screen and (max-width: 996px) {
  .carousel-wrapper .swiper-slide {
    width: 100% !important;
    max-width: 100% !important;
  }
}
